@charset 'utf-8';
@font-face {
}
:root {
  /* color */
  /* font */
  /* size */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: inherit;
}

.section {
  max-width: 1200px;
  width: 80%;
  margin: 100px auto;
  border: 10px solid red;
}
.slideCon {
  position: relative;
  max-width: 500px;
  border: 10px solid rgb(209, 209, 209);
  margin: auto;
  padding-top: 50%;
  /* overflow: hidden; */
}
.slideCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ul */
/* .slideCon >ul {} */
.slideWrap {
  border: 5px solid lightblue;
}
.slideWrap {
  /* transition: 0.3s; */
}

/* li */
/* .slideCon >ul>li {} */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid tomato;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}
.slide:nth-of-type(1) {
  opacity: 1;
  z-index: 10;
}
.slide:nth-of-type(3) ~ li {
  display: none;
}

.card {
  border: 5px solid black;
  position: relative;
  height: 100%;
  /* padding-top: 65%; */
}
.card > * {
  position: absolute;
  top: 0;
  left: 0;
}
.card > span {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 100px;
  top: 20px;
  left: 20px;
}

button {
  position: absolute;
  top: 250px;
  left: 100px;
}
.btnNext {
  left: auto;
  right: 100px;
}
